body {
    font-family: "Avenir Next", "Trebuchet MS", sans-serif;
    color: #333;
    /*max-width: 1060px;
    margin: 0 auto;*/
    position: relative; /* Added to make header position:relative */
}

.container {
    margin: max(2em, 5%) auto; /* Minimum margin of 2em or 5% of the viewport width, centered horizontally */
    max-width: 1060px; /* Adjust the max-width as needed */
}



/* Header styles */
header {
    padding: 60px 0;
    width: 100%; /* Added to stretch header to full width */
    position: relative;
    /* z-index: 1000; Added to ensure header is on top of other content */
}

nav ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Added to remove default margin */
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
}

nav ul.menu li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

nav ul.menu li a {
    color: #333;
    text-decoration: none;
}

nav ul.menu li a:hover {
    background-color: #ddd;
}

#intro {
    display: flex;
}

#intro_text {
    flex: 0 0 60%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 60% */
}

#intro_image {
    flex: 0 0 30%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 40% */
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    margin: auto;
    flex-wrap: wrap; /* Allow items to wrap to the next row if necessary */
}

#intro_image img {
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
}

.social-icons {
    display: flex;
    padding-top:15px;
}

.social-icons img {
    max-width: 65% !important;
}


section {
    margin-bottom: 30px;
}

h1, h2, h3 {
    margin-top: 0;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}


#news li:before {
    content: "\2022";
    color: #333;
    font-weight: bold;
    position: absolute;
    left: 0;
}


/* Set the default color for links */
a {
    color: #c36;
    text-decoration: none; /* Optionally remove underlines from links */
}

/* Change link color to black on hover */
a:hover {
    color: black;
}

/* CSS for Gallery */
#gallery {
    margin-top: 20px; /* Added for spacing */
}

#video {
    position: relative; 
    padding-bottom: 56.25%; /* 16:9 aspect ratio */ 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Added for spacing between rows */
}

.row img {
    width: 48%; /* Each image takes up 48% of the row */
}

#honours li {
    list-style-type: disc;
}


hr {
  border: 0;
  height: 1px;
  width: 10%;
  position: relative;
  margin: 30px auto;
}

hr.center-ball {
  background: #c36;
}

hr.center-ball:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #c36;
  display: inline-block;
  border: 2px solid #c36;
  position: absolute;
  top: -4px;
  left: 50%;
  margin: 0 0 0 -3px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute space between projects */
}

.project {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    margin-right:1%;
    max-width: 48%;
    float: left;
}

/* Clear the margin of the last project in each row */
.project:nth-child(2n) {
    margin-right: 0;
}



/* Responsive styles */
@media only screen and (max-width: 600px) {

    body {
        margin:5%;
    }

    #intro {
        flex-direction: row;
    }

    #intro_text {
        flex: 100%;
        padding-right: 20px;
        text-align: left;
    }

    #intro_image {
        display: none;
    }

    .project {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    float: none;
}
}