body {
    font-family: Avenir Next;
    color: #333;
    max-width: 1060px;
    margin: 0 auto;
    position: relative; /* Added to make header position:relative */
}

/* Header styles */
header {
    background-color: #f2f2f2;
    padding: 60px 0;
    text-align: center;
    position: fixed;
    width: 100%; /* Added to stretch header to full width */
    z-index: 1000; /* Added to ensure header is on top of other content */
}

nav ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Added to remove default margin */
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
}

nav ul.menu li {
    display: inline;
    margin-right: 20px;
}

nav ul.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul.menu li a:hover {
    background-color: #ddd;
}

#intro {
    display: flex;
}

#intro_text {
    flex: 0 0 60%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 60% */
}

#intro_image {
    flex: 0 0 30%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 40% */
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    margin: auto;
}

#intro_image img {
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
}

section {
    margin-bottom: 30px;
}

h1, h2, h3 {
    margin-top: 0;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

li:before {
    content: "\2022";
    color: #333;
    font-weight: bold;
    position: absolute;
    left: 0;
}

/* Set the default color for links */
a {
    color: #c36;
    text-decoration: none; /* Optionally remove underlines from links */
}

/* Change link color to black on hover */
a:hover {
    color: black;
}



/* Responsive styles */
@media only screen and (max-width: 600px) {

    body {
        margin-bottom: 2%;
    }

    #intro {
        flex-direction: row;
    }

    #intro_text {
        flex: 100%;
        padding-right: 20px;
        text-align: left;
    }

    #intro_image {
        display: none;
    }
}